
// Load Master Styles
// -------------------------
@import "../../../Styles/Bootstrap/scaffolding.less";
@import "../../../Styles/Bootstrap/type.less";
@import "../../../Styles/Bootstrap/variables.less";
@import "../../../Styles/_rock-core.less";
@import "../../../Styles/_store.less";
@import "../../../Styles/_rock-variables.less";
@import "_variables.less";
@import "_variable-overrides.less";
@import "_print.less";

/*
    Rock Theme Styles

    1. HTML Overrides
    2. Bootstrap Overides
    3. Theme Styling
    4. Responsive Overrides

*/

// 1. HTML Overrides
// -------------------------

html {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

main {
    display: block;
}



img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

// 2. Bootstrap Overrides
// -------------------------

.navbar {
    position: static; // default is relative which causes the dropdowns to go under the other navbars dispite having a higher z-index - JME 9/9/2013
    // using fontawesome nav toggle button instead of the BS default
    border: none;
    margin: 0;

    .navbar-toggle {
        padding: 6px 10px;
        margin-bottom: 0;
        background-color: @header-hambuger-bg;
        border-color: @header-hamburger-border;

        &:hover, ::before, :after, .collapsed {
            background-color: @header-hambuger-bg;
            border-color: @header-hamburger-border;
        }

        i.fa-bars {
            color: #fff;
        }
    }
}


a:hover, a:active, a:focus, i.fs {
    text-decoration: none;
}

// 3. Theme Styling
// -------------------------
header {
    .page-menu,
    .login-status {
        float: right;
    }

    .navbar {
        background-color: @header-bg;
        border: 0;
        font-size: @font-size-mid+1;
        font-weight: 500;

        .navbar-brand {
            font-weight: @font-weight-semibold;
            font-size: @font-size-h3;
        }

        .loginstatus {
            font-weight: @font-weight-semibold;
        }
    }
}

// homepage items
#announcement-rotator, #homepage-rotator {
    margin-bottom: @spacing-md-px;

    .item {
        img {
            width: 100%;
            max-height: 600px;
        }
    }
}

.announcement-list {
    .announcement {
        margin: 0 0 @spacing-lg-px 0;
        max-height: 300px;
    }

    .announcement-item {
        width: 100%;
        max-height: 250px;
    }

    img {
        width: 100%; /*img width*/
    }


    .announcement-title {
        margin: @spacing-sm-px 0;
    }

    img {
        width: 100%;
    }
}

.announcement-detail {
    img {
        width: 100%;
    }
}

.nav-sub {
    li {
        border: 1px solid @gray-lighter;
        border-radius: @border-radius-base;
    }
}

.welcome {
    line-height: @line-height-small;

    .btn {
        margin-top: @spacing-md-px;
    }
}

.tri-focus {
    padding: @spacing-md-px;

    img {
        .img-responsive;
        .img-rounded;
    }
}

.box {  
    cursor: pointer;  
    height: 250px;   
    position: relative;  
    overflow: hidden;  
	font-family: 'Open Sans', sans-serif;
    .center-block;
  
a {
   color: #fff;
} 
  
img {  
    position: absolute;  
    left: 0;  
    -webkit-transition: all 300ms ease-out;  
    -moz-transition: all 300ms ease-out;  
    -o-transition: all 300ms ease-out;  
    -ms-transition: all 300ms ease-out;  
    transition: all 300ms ease-out;
    .img-responsive;
    .img-rounded;
    .center-block;
}  


.overbox {  
    background-color: #304562;  
    position: absolute;
	top:0;
	left:0;
    color: #fff;  
    z-index: 100;  
    -webkit-transition: all 300ms ease-out;  
    -moz-transition: all 300ms ease-out;  
    -o-transition: all 300ms ease-out;  
    -ms-transition: all 300ms ease-out;  
    transition: all 300ms ease-out;  
    opacity: 0;  
	padding: 130px 20px;
    
    .img-rounded;
    .center-block;

	
}  

&:hover .overbox {  
    opacity: 0.75;
}

.overtext {
	-webkit-transition: all 300ms ease-out;  
    -moz-transition: all 300ms ease-out;  
    -o-transition: all 300ms ease-out;  
    -ms-transition: all 300ms ease-out;  
    transition: all 300ms ease-out;
	transform: translateY(40px);
	-webkit-transform: translateY(40px);
}


.title {
	font-size: 2.5em;
	text-transform: uppercase;
	opacity: 0;
	transition-delay: 0.1s;
    transition-duration: 0.2s;
}

&:hover .title, &:focus .title {  
    opacity: 1;
	transform: translateY(0px);
	-webkit-transform: translateY(0px);
}


.tagline {
	font-size: 0.8em;
	opacity: 0;
	transition-delay: 0.2s;
    transition-duration: 0.2s;
}

&:hover .tagline, &:focus .tagline {  
    opacity: 1;
	transform: translateX(0px);
	-webkit-transform: translateX(0px);
}
}

.blue-stripe {
    background-color: lighten(@theme-2, 10%);

    .testimony-container {
        padding-top: 5px;
    }

    .well {
        padding-bottom: 2px;
    }
}

footer {
    color: @accent-2-text;
    background-color: @accent-2;

    .footer-blue {
        padding-top: 11px;
        background-color: @theme-2;

        .footer-bold {
            float: left;
            padding-left: @spacing-xl-px;

            a {
                font-size: @font-size-mid;
                font-weight: @font-weight-bold;
            }
        }

        .social-icons {
            float: right;
            padding-right: @padding-base-horizontal;

            i {
                font-size: @font-size-large*1.5;
                padding-left: (@spacing-sm-px/2);
                padding-right: (@spacing-sm-px/2);
                color: #fff;

                &:hover {
                    color: @gray-light-more;
                }
            }

            li {
                padding-bottom: @padding-large-vertical;
                padding-top: @padding-large-vertical;
            }
        }
    }


    .footer-alt {
        padding: @padding-base-vertical @padding-base-horizontal 80px @padding-base-horizontal;

        ul, li {
            .list-inline;
        }

        a :not(h4) {
            font-size: @font-size-mid;
        }
    }

    .footer-copyright {
        color: @gray-lighter;
        font-size: @font-size-base+-1;


        ul {
            display: block;
            padding-left: 0;
            margin-left: 0;
            margin-bottom: @spacing-sm-px;
        }
        
        li {
            display: block;
            padding-left: 0;
            margin-left: 2.14285714em;
        }
    }

                .footer-final {
                ul {
                    list-style: disc;
                    list-style-position: inside;
                }
                li {
                    margin-left: 0;
                    display: list-item;
                }
                
            }


    hr {
        border-color: darken(@gray-lighter, 15%);
        margin: @spacing-sm-px @spacing-md-px @spacing-sm-px @spacing-md-px;
    }

    ul, li {
        list-style: none;
    }

    a {
        color: @accent-2-text;
        font-weight: @font-weight-semibold;

        &:hover, &:active, &:focus {
            color: @gray-light-more;
        }
    }
}

.img-dark {
    position: relative;
    .img-responsive;

    img {
        vertical-align: top;
        .img-rounded;
        width: 100%;
        height: auto;
    }

    &:after {
        .img-rounded;
        content: '\A';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: rgba(0,0,0,0.6);
        opacity: 0;
        transition: all 1s;
        -webkit-transition: all 1s;
    }

    &:hover:after {
        opacity: 1;
    }
}

#splash.error {
    background-color: @gray-lighter;

    #content {
        margin-top: 20px;
        background-color: @body-bg;
        border-radius: @border-radius-base;
        padding: 20px;
    }
}

.not-found h2 {
    font-size: 200px;
    font-weight: @font-weight-bold;
    letter-spacing: -5px;
    line-height: 210px;

    i {
        color: #F03;
        font-size: 210px;
        position: relative;
        top: -12px;
    }
}

.panel {
    margin-top: @spacing-sm-px;

    .panel-heading .panel-title {
        i {
            color: #fff;
        }
    }

    .grid.grid-panel {
        margin: 0;
    }
}

// Typography =================================================================

.lead {
    color: @gray-darker;
    font-size: @font-size-large;
}

cite {
    font-style: italic;
}

blockquote {
    border-left-width: 1px;
    color: @gray;

    &.pull-right {
        border-right-width: 1px;
    }

    small {
        font-size: @font-size-small;
        font-weight: 300;
    }
}

// 4. Responsive Overrides
// -------------------------

// default styling should be for phones 767px or less

// Small devices (tablets, 768px and up)
@media (min-width: @screen-sm-min) {

    footer {

        .footer-blue {

            ul {
                .list-inline;
            }

            .social-icons {
                ul, li {
                    padding-bottom: 0px;
                    padding-top: 0px;
                    margin: 0px;
                }

                i {
                    padding: 0px;
                    font-size: @font-size-base*1.6;
                }
            }
        }

        .footer-alt {
            padding: @padding-base-vertical @padding-base-horizontal 20px @padding-base-horizontal;

          .footer-nav-col {
              ul {
              display:block;
              line-height:@line-height-computed;

          }
              li {
                  margin-left: 20px;
                  display:list-item;
                  text-align: left;
              }
          }
            .footer-copyright {
            
            .footer-contact {

                ul {
                    display: inline-block;
                }

                li {
                    display: inline-block;
                    list-style-type: none;
                    margin-left: @spacing-md-px*1.2;
                }

                i {
                    left: -1em;
                    width: 1.5em;
                    padding-right: 10px;
                }
                }
            }
        }
    }

.swap-wrapper {
  display: flex;

    .swap-first {
        order: 1;
    }

    .swap-second {
        order: 2;
    }
}
}

// Medium devices (desktops, 992px and up)
@media (min-width: @screen-md-min) {
    .captioncontainer {
        margin: @spacing-sm-px;
    }
}

// Large devices (large desktops, 1200px and up)
@media (min-width: @screen-lg-min) {
}
