
// Load Master Styles
// -------------------------
@import "../../../Styles/Bootstrap/scaffolding.less";
@import "../../../Styles/Bootstrap/type.less";
@import "../../../Styles/Bootstrap/variables.less";
@import "../../../Styles/_rock-core.less";
@import "../../../Styles/_store.less";
@import "../../../Styles/_rock-variables.less";
@import "_variables.less";
@import "_variable-overrides.less";
@import "_print.less";

/*
    Rock Theme Styles

    1. HTML Overrides
    2. Bootstrap Overides
    3. Theme Styling
    4. Responsive Overrides

*/

// 1. HTML Overrides
// -------------------------

html {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

main {
    display: block;
}



img {
    display:block;
    margin-left: auto;
    margin-right: auto;
}

// 2. Bootstrap Overrides
// -------------------------

.navbar {
    position: static; // default is relative which causes the dropdowns to go under the other navbars dispite having a higher z-index - JME 9/9/2013
    // using fontawesome nav toggle button instead of the BS default
    border: none;
    margin: 0;

    .navbar-toggle {
        padding: 6px 10px;
        margin-bottom: 0;
        background-color: @navbar-inverse-link-active-bg;
        border-color: darken(@navbar-inverse-link-active-bg, 10%);

        &:hover, ::before , :after, .collapsed {
        background-color: @navbar-inverse-link-active-bg;
        border-color: darken(@navbar-inverse-link-active-bg, 10%);
        }

        i.fa-bars {
            color: #fff;
        }
    }
}


a:hover, i.fs {
    text-decoration: none;
}

// 3. Theme Styling
// -------------------------
header {
    .page-menu,
    .login-status {
        float: right;
    }

    .navbar {
        background-color: @header-bg;
        border: 0;     
        font-size: @font-size-mid+1;
        font-weight: 500;

        .navbar-brand {
            font-weight: @font-weight-semibold;
            font-size: @font-size-h3;
        }
    }

}

// homepage items
#announcement-rotator, #homepage-rotator {
    margin-bottom: @spacing-md-px;
    .item {
        img {
            width: 100%;
            max-height: 600px;
        }
    }
}

.announcement-list {
    .announcement {
        margin: 0 0 @spacing-lg-px 0;
        max-height: 300px;
    }

    .announcement-item {
        width: 100%;
        max-height: 250px;
    }

    img {
        width: 100%; /*img width*/
    }


    .announcement-title {
        margin: @spacing-sm-px 0;
    }

    img {
        width: 100%;
    }
}

.announcement-detail {
    img {
        width: 100%;
    }
}

.nav-sub {
    li {
        border: 1px solid @gray-lighter;
        border-radius: @border-radius-base;
    }
}

.welcome {
    line-height: @line-height-small;
    
    .btn {
        margin-top: @spacing-md-px;
    }

}

.tri-focus {
    padding: @spacing-md-px;

    img {
        .img-responsive;
        .img-rounded;
    }
}

.captioncontainer-fix {
    margin: @spacing-sm-px;
    width: 85%;
    .center-block;
    }

.captioncontainer {
    .center-block;
    margin: @spacing-sm-px;
    max-width: 400px;
    position: relative;
    vertical-align: middle;

.caption {
    padding-left: 0;
    padding-right: 0;
    position: relative;
    overflow: hidden;
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
}
    a {
        color: #fff;
    }    

    h1 {
        padding: 0px;
        margin: 0px;
    }

.caption::before {
    .img-rounded;
    content: ' ';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: transparent;
    transition: background .35s ease-out;
}

.caption:hover::before {
    .img-rounded;
    background: rgba(0, 0, 0, .5);
}

img {
    .img-responsive;
    .img-rounded
    }

.caption__overlay {
    .img-rounded;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 10px;
    color: white;

    -webkit-transform: translateY(100%);
            transform: translateY(100%);

    transition: -webkit-transform .35s ease-out;
    transition:         transform .35s ease-out;
}

.caption:hover .caption__overlay {
    .img-rounded;
    -webkit-transform: translateY(0);
            transform: translateY(0);
}

.caption__overlay__title {
    -webkit-transform: translateY( -webkit-calc(-100% - 10px) );
            transform: translateY( calc(-100% - 10px) );

    transition: -webkit-transform .35s ease-out;
    transition:         transform .35s ease-out;
}

.caption:hover .caption__overlay__title {
    -webkit-transform: translateY(0);
            transform: translateY(0);
}
}

.blue-stripe {
    background-color: lighten(@theme-2, 10%);

    .well{
        padding-bottom: 2px;
    }
}

footer {
    margin-top: @padding-large-vertical*2;
    color: @accent-2-text;

    hr {
        border-color: darken(@gray-lighter, 15%);
        margin: @spacing-sm-px @spacing-md-px @spacing-sm-px @spacing-md-px;
    }

    li {
            list-style: none;
            padding-right: @padding-xs-horizontal;
        }

    .footer-blue {
    padding-top: 11px;
    background-color: @theme-2;
    }
    
    .footer-alt {
        background-color: @accent-2;
        padding-top: @padding-base-vertical; 
        padding-left: @padding-base-horizontal;
        padding-bottom: 50px;
        padding-right: @padding-base-horizontal;

        ul {
            .list-inline;
        }

        a {
            font-weight: @font-weight-semibold;
            color: @accent-2-text;
            

            &:hover {
            text-decoration: none;
            color: @gray-light-more;

            }

            :not(h4) {
                font-size: @font-size-mid;               
            }
            
                       
        }
    }

    .footer-bold {
        padding-left: @spacing-xl-px;
        float:left;
    
        a {
            font-size: @font-size-mid;
            color: @accent-2-text;
            font-weight: @font-weight-bold;
                    
            &:hover {
            text-decoration: none;
            color: @gray-light-more;
            }
        }
    }

    .social-icons {
        float:right;
        padding-right: @padding-base-horizontal;
        ul {
            .list-inline;
        }
                 i {
         margin-left:(@spacing-sm-px/2);
         margin-right:(@spacing-sm-px/2);
         color: #fff;
         &:hover {
             color: @gray-light-more;
         }
        }
    }

    .footer-copyright {
        color: @gray-lighter;
        font-size: @font-size-base+-1;
        a {
            font-weight: @font-weight-semibold;
            color: #fff;
        }
    }

}

.img-dark {
    position: relative;

    img {
    vertical-align: top;
    .img-rounded;
    .img-responsive;
    }

    &:after {
    .img-rounded;
    content: '\A';
    position: absolute;
    width: 100%; height:100%;
    top:0; left:0;
    background:rgba(0,0,0,0.6);
    opacity: 0;
    transition: all 1s;
    -webkit-transition: all 1s;
    }

    &:hover:after {
    opacity: 1;
    }
}

#splash.error {
    background-color: @gray-lighter;

    #content {
        margin-top: 20px;
        background-color: @body-bg;
        border-radius: @border-radius-base;
        padding: 20px;
    }
}

.not-found h2 {
    font-size: 200px;
    font-weight: @font-weight-bold;
    letter-spacing: -5px;
    line-height: 210px;

    i {
        color: #F03;
        font-size: 210px;
        position: relative;
        top: -12px;
    }
}

.panel.panel {
    border: 0;
    box-shadow: none;
    
    .grid.grid-panel {
            margin: 0;
        }
    }

// Typography =================================================================

.lead {
  color: @gray-darker;
  font-size: @font-size-large;
}

cite {
  font-style: italic;
}

blockquote {
  border-left-width: 1px;
  color: @gray;

  &.pull-right {
    border-right-width: 1px;
  }

  small {
    font-size: @font-size-small;
    font-weight: 300;
  }
}

// 4. Responsive Overrides
// -------------------------

// default styling should be for phones 767px or less

// Small devices (tablets, 768px and up)
@media (min-width: @screen-sm-min) {
        .footer-white {
        padding-bottom: 20px;
    }
        .captioncontainer {
            margin: @spacing-sm-px;
        }

        .captioncontainer-fix {
            margin: @spacing-sm-px @spacing-sm-px @spacing-sm-px @spacing-sm-px;
        }

        .footer-blue ul {
            .list-inline;
        }

       .footer-alt ul {
            display: block;
            line-height: @line-height-base;
            overflow: visible;
            margin: 0 0 (@line-height-computed / 2) 0;

            li {
            display: list-item;
            list-style-type: disc;
            overflow: visible;
            padding-left: 5px;
            line-height: @line-height-base;
            text-align: left;
            margin: 0;
            }
            

           }
       }

// Medium devices (desktops, 992px and up)
@media (min-width: @screen-md-min) {
}

// Large devices (large desktops, 1200px and up)
@media (min-width: @screen-lg-min) {
}